body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ; 
    margin: 0;
    background: url(images/weather-app.jpg);
    background-size: cover;
    
}
.card {
    background:#000000d0;
    padding: 2.25em;
    border-radius: 40px;
    width: 100%;
    max-width: 420px;
    margin: .75em;
    font-family: 'Roboto Slab', serif;
     color: white;}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: .5em;
}